<div class="product-carousel-container">
  <div class="produtos-intro">
    <h2>Nossos Destaques em Promoção!</h2>
    <p>Produtos selecionados com descontos exclusivos. Qualidade e oportunidade em um só lugar.</p>
  </div>
  <splide [options]="splideOptions">
    <splide-slide *ngFor="let product of products">
      <div class="product-card">
        <img [src]="product.imageUrl" [alt]="product.name" class="product-image">
        <div class="product-info">
          <h3 class="product-name">{{ product.name }}</h3>
          <p class="product-price">
            <span class = "promo-price">
              R${{product.originalPrice}}
            </span>
            R$ {{ product.price.toFixed(2).replace('.', ',') }}
          </p>
        </div>
      </div>
    </splide-slide>
  </splide>

</div>
