.text-custom {
  color: #4e3620;
}

.text-custom-secondary {
  color: #4e3620;
  opacity: 0.8;
}

.text-custom-footer {
  color: #4e3620;
  opacity: 0.7;
}

.icon-custom {
  color: #4e3620;
  opacity: 0.5;
}

.input-custom {
  border-color: #4e3620;
  color: #4e3620;
}

.input-custom:focus {
  ring-color: #4e3620;
  border-color: #4e3620;
}

.btn-custom {
  background-color: #4e3620;
}

.btn-custom:hover {
  opacity: 0.9;
}
