body{
  margin:0;
  padding:0;
}

.logo {
  position: absolute;
  height:100px;
  width:100px;
  top:0;
  left:0;
}

.menu{
  display:flex;
  background-color: #FFC07E;
  height: 15vh;
  margin-top: 0;
  justify-content: center;
}

.grupo_buttons{
  display:flex;
  justify-self: center;
  align-self: center;
}

.section_perfil{
  display:flex;
  justify-self: right;
  align-self: center;
}
