.navbar {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 50;
  height: 15%;
}

.dropdown ul {
  display: none;
}

.dropdown:focus-within ul {
  display: block;
}
