<header class="menu">
  <nav>
    <img class="logo" [src]="logoPath" alt="icone"/>

    <section class="grupo_buttons nav-links" [class.active]="menuActive">
      <button class="buttons" (click)="closeMenu()">PRODUTOS</button>
      <button class="buttons" (click)="closeMenu()">MEUS PEDIDOS</button>
      <button class="blinker" style="color: #E94B3C;" (click)="closeMenu()">PROMOÇÕES</button>
    </section>

    <div class="hamburger" [class.active]="menuActive" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <section class="section_perfil">
<!--      <p>Nome do Usuário</p>-->
      <button class="img_perfil_button">
        <img class="img_perfil" [src]="personPath" alt="perfil"/>
      </button>
    </section>
  </nav>
</header>
