
.Slider_image {
  width: 100%;
  height: 100vh;
  margin-bottom: 5%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.Slider_image img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

#proximo {
  background: transparent;
  border: 0;
  background-size: 5%;
}
