.produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 1rem;
  padding: 4rem 8rem;
  justify-items: center;
}

.produto {
  text-align: center;
}

.produto img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
}

.produto h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
  color: #554131;
}

.produto h4 {
  margin-top: 0.2rem;
  margin-bottom: 0;
  font-size: 1rem;
  color: #554131;
}
