<main>
  <section class="produtos">
    <div class="produto">
      <img src="assets/Imagens/item-1.jpg" alt="Pão1">
      <h3>Baguete</h3>
      <h4>Baguete de fermentação natural</h4>
    </div>
    <div class="produto">
      <img src="assets/Imagens/item-2.jpg" alt="Pão2">
      <h3>Pão Português</h3>
    </div>
    <div class="produto">
      <img src="assets/Imagens/item-3.jpg" alt="Pão3">
      <h3>Pão com Grãos</h3>
    </div>
    <div class="produto">
      <img src="assets/Imagens/item-4.jpg" alt="Pão4">
      <h3>Pão de Leite</h3>
    </div>
    <div class="produto">
      <img src="assets/Imagens/item-5.jpg" alt="Pão5">
      <h3>Pão Integral</h3>
    </div>
    <div class="produto">
      <img src="assets/Imagens/item-6.jpg" alt="Pão6">
      <h3>Brioche</h3>
    </div>
  </section>
</main>
