footer {
  padding: 1rem;
  background-color: rgba(255, 192, 126, 0.3);
  text-align: center;
  margin-top: auto;
}

.rodape {
  color: #554131;
  font-family: Inter, serif;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto;
  padding-bottom: 10px;
}
