.text-custom {
  color: #4e3620;
}

.text-custom-secondary {
  color: #4e3620;
  opacity: 0.8;
}

.icon-custom {
  color: #4e3620;
  opacity: 0.5;
}

.input-custom {
  border-color: #4e3620;
  color: #4e3620;
}

.input-custom:focus {
  ring-color: #4e3620;
  border-color: #4e3620;
}

.btn-custom {
  background-color: #4e3620;
}

.btn-custom:hover {
  opacity: 0.9;
}

.bg-custom {
  background-color: transparent;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
  20%, 40%, 60%, 80% { transform: translateX(5px); }
}

.animate-shake {
  animation: shake 0.5s;
}
