@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}/* You can add global styles to this file, and also import other style files */

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  html, body {
    @apply w-full min-h-screen overflow-x-hidden;
  }

  img, video {
    @apply max-w-full h-auto;
  }
}
